*{
    box-sizing: border-box;
}

body{
    margin:0;
    
}

#f1{
    display: flex;
    justify-content: flex-end;
    justify-content: baseline;
    border-bottom:1px solid rgba(58, 57, 57, 0.5); ;
    margin: 0;
}

.n3{
    display: flex;
    justify-content:start;
    align-items:center ;
    padding: 0px 10px;
}

.n5{
    display: flex;
    align-items: center;
    padding: 0px 15px;
    justify-content: space-between;
}

#f1 li{
    list-style: none;
}

.n5{
    border-left: 1px solid rgba(58, 57, 57, 0.5);
}

.n5 p{
    margin: 0px 5px;
}

.f3{
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.n3 a{
    color: black;
}

.n3 p{
    font-size: 18px;
    font-weight: 600;
}

#f4{
    display:flex;
    list-style: none;
    justify-content: center;
    border-bottom:  1px solid rgba(58, 57, 57, 0.5);
}

#f4 li{
    margin: 0px 50px;
    color: rgba(0, 0, 0, 0.8);
}

#g1{
    width: 100%;
    height: 290px;
    display: grid;
    grid-template-columns:400px 400px;
    grid-template-rows:290px;
    justify-content: center;
    gap: 400px;
    top: 60px;
    position: relative;
}

.p1::before{
    content:"£";
}

.p1{
    font-weight: 900;
    font-size: 32px;
}

#g2{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns:400px 400px;
    grid-template-rows:200px;
    top: 60px;
    position: relative;
    background-color: burlywood;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.f6{
    display: flex;
    flex-direction: column;
}

.f6 p{
    margin: 0px;
}

.f7{
    display: flex;
    align-items: center;
}

.f76{
    border: 1px solid rgba(58, 57, 57, 0.5);
    margin-right: 15px;
    padding: 5px;
    display: flex;
    width: 45%;
    align-items: baseline;
}

.f76 a{
    color: black;
    text-decoration: none;
}

.p2{
    padding-right: 110px;
    color: rgba(58, 57, 57, 0.5);
    font-size: 13px;
}

.p2 + p{
    color: rgba(58, 57, 57, 0.5);
    font-size: 13px;
}

.f75 :last-child{
    border-radius: 50%;
    border:1px solid rgba(58, 57, 57, 0.5); 
    padding: 10px ;
    
}

.f75 :first-child{
    border-radius: 50%;
    border:1px solid rgba(58, 57, 57, 0.5); 
    padding: 10px ;
    
}

.f75 p{
    margin-right: 6px;
    font-weight: bold;
    cursor: pointer;
}

.f76 :last-child{
    margin-left: 90px;
    cursor: pointer;
}

.f76 p{
    margin-left: 7px;
    cursor: default;
}

.oil_img{
    position: absolute;
    z-index: 10;
    left: 400px;
}

.cursor{
    cursor: default !important;
}

#idbutton{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#idbutton span p{
    border: 1px  solid burlywood;
    padding:15px ; 
    cursor: pointer;   
}

#idbutton div p{
    border: 1px  solid burlywood;
    padding:15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: burlywood;
}

#idbutton div{
    width: 58%;
}

#f18{
    height: 500px;
    position: relative;
    top: 60px;
}

#f18 h2{
    text-align: center;
}

#g3{
    display: grid;
    grid-template-columns:200px 200px 200px 200px ;
    grid-template-rows: 400px ;
    justify-content: center ;
}

.f17{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f17 h3 p{
    margin:0px;
    color: rgba(58, 57, 57, 0.5); ;
}

.f17 h3{
    font-size: 16px;
    text-transform: capitalize;
}

#g4{
    display: grid;
    grid-template-columns: 400px 400px 400px ;
    grid-template-rows:233;
    height: 400px;
    justify-content: center;
    justify-items: center;
}

.f20{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: baseline;
   
}

.f20 .b12 p{
    padding-left: 15px;
}

.f20 p+button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid ;
    width: 80%;
    font-weight: bold;
}

.f20 h3+p{
    margin-top:0px;
}

.f20 p+span{
    font-size: 32px;
    cursor: pointer;
}

.f21{
    display: flex;
    width: 95%;
}

.b12{
    border:  1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bb12,.bb13{
    padding: 10px 12px 10px 12px ;
    margin: 0px;
    color: rgba(0, 0, 0, 0.8);
}

.bb12{
    background: rgba(21, 119, 12, 0.8);
    color: white;
}

.bb13::before{
    content: "@ ";
    font-weight: bold;
    font-size: 20px;
}


